@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="text-center">
                <h1 class="display-4">Битва экстрасенсов!</h1>
                <p>Загадайте двузначное число, которое наши экстрасенсы угадают.</p>
                <form method="post">
                    @if (Model.isPlay)
                    {
                        <input type="submit" value="Загадал"/>
                    }
                    else
                    {
                        <div>Какое число вы загадали?</div>
                        <input type="number" name="digit" max="99" min="10" />
                        <input type="submit" value="ОК" />
                    }
                </form>
            </div>
            <div class="row mt-3">
                @foreach (PsychicMan i in Model.psyList)
                {
                    <div class="col-sm text-center">
                        <p>Ответ: @i.Answer</p>
                        <p class="font-weight-bold">@i.Name</p>
                        <p>Достоверность: @i.Power %</p>
                        <p>Список ответов:</p>
                        @foreach (int a in i.AnswersList)
                        {
                            <p>@a</p>
                        }
                    </div>
                }
            </div>
        </div>
        <div class="col-sm">
            <div class="text-center">
                <h2>Загаданные числа:</h2>
                @foreach (int i in Model.playerNumbersList)
                {
                    <p>@i</p>
                }
            </div>
        </div>
    </div>
</div>
